<div class="place">
  <div class="container">
    <h1>O local</h1>
    <p>The One Business Center</p>

    <div class="row">
      <div class="col-md-6 mb-5">
          <img class="img-fluid onebusiness" src="../../assets/img/theone.jpg" alt="Fotografia do local do evento, com uma ampla rampa circular, fazendo ligação do primeiro andar ao terreo, com jardins e muitas lâmpadas iluminando o local" width="350" height="auto">
      </div>
      <div class="col-md-6">
        <p><strong>Endereço:</strong> Raja Gabáglia, 1143 - Luxemburgo, Belo Horizonte - MG, 30380-103</p>
        <p><strong>Acessibilidade:</strong> local 100% acessível, com rampas, elevadores e banheiros acessíveis.</p>
        <p><strong>Estacionamento:</strong> terceirizado, no próprio local. </p>
        <p><strong>Valor:</strong> R$20,00 - sujeito a alteração sem aviso prévio.</p>
      </div>
    </div>
  </div>
</div>