<section>
  <div class="container-fluid" id="tickets">
    <div class="container">
      <h1>Ingressos</h1>
      <p class="subtitle">Os ingressos são limitados. Os valores estão sujeitos à alteração sem aviso prévio e válido até o término do lote.</p>
      <p class="subtitle">Garanta já o seu!</p>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 d-none d-md-block">
          <div class="card text-center">
            <div class="title">
              <h2>Lote 1</h2>
            </div>
            <div class="price">
              <h4>R$100,00</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Entrada no evento</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Participação nas 5 trilhas</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Camisa do evento</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Brindes </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Tradução simultânea </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Coffee break </li>
              
              </ul>
            </div>
            <h4>Sold out!</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card text-center">
              <div class="title">
                <h2>Lote 2</h2>
              </div>
              <div class="price">
                <h4>R$110,00</h4>
              </div>
              <div class="option">
                <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Entrada no evento</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Participação nas 5 trilhas</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Camisa do evento</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Brindes </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Tradução simultânea </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Coffee break </li>
                
                </ul>
              </div>
              <h4>Sold out!</h4>
            </div>
          </div>


          <div class="col-sm-12 col-md-4">
            <div class="card text-center">
              <div class="title">
                <h2>Lote 3</h2>
              </div>
              <div class="price">
                <h4>R$120,00</h4>
              </div>
              <div class="option">
                <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Entrada no evento</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Participação nas 5 trilhas</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Camisa do evento</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Brindes </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Tradução simultânea </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Coffee break </li>
                
                </ul>
              </div>
              <!--<a href="http://gdgbh.eventos.pw" target="_blank">Comprar agora</a>-->
              <h4>Sold out!</h4>
            </div>
          </div>

          <h1 class="mt-5">Acabou tudo, mesmo?</h1>
          <p class="subtitle">As vendas superaram nossas expectativas! Agradecemos muito e estamos trabalhando para entregar mais um DevFest de sucesso!</p>
          <p class="subtitle">Estamos tentando liberar mais um lote extra, de acordo com a capacidade do local. Fique ligada(o) em nossas redes!</p>
          <p class="subtitle">Qualquer dúvida estamos à disposição: <strong>contato@devfestbh.com</strong></p>

      </div>

      
    </div>
  </div>
 
</section>

