<div class="speakers" id="speakers">
  <div class="container">
    <div class="speakers-header">
    <h1>Palestrantes</h1>
    <p class="subtitle">Essa grade de palestras está linda demais!</p>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let speaker of speakers | async">
        <div class="speaker">
          <div class="speaker-photo">
            <img class="img-fluid" src={{speaker.photo}} alt="{{speaker.alt}}"/>
          </div>
        <div class="spekaer-data">
        <p class="speaker-name">{{speaker.name}}</p>
        <p class="speaker-lastName">{{speaker.lastName}}</p>
        <p>{{speaker.role}}</p>
  
        <img class="d-block img-fluid enterprise" src="{{speaker.enterprise}}" alt="{{speaker.enterprisealt}}"/>
      </div>
      </div>
      </div>
    </div>
    <h1>Call4papers</h1>
    <p>O nosso Call4papers encerrou dia 30 de Setembro! A partir do dia 10/10 iremos enviar os feedbacks!</p>  
  </div>
</div>