<section class="conduct">
  <div class="container-fluid" id="conduct-code">
    <div class="container">
      <h1>Código de conduta</h1>
      <div class="row mt-5">
        <p>O GDG Belo Horizonte é dedicado a prover um ambiente livre de assédios para todos, independente de: gênero, orientação sexual, deficiência, identidade de gênero, idade,
          raça, religião e nacionalidade. Os itens listados não é uma lista completa - nós não toleraremos nenhum tipo de assédio.</p>
          <p>Linguagem e imagens de cunho sexual não são apropriados para nenhum evento, incluindo palestras. Participantes de eventos que violarem essas regras poderão ser expulsos do evento e até banidos de futuros eventos, de acordo com os critérios dos organizadores.</p>
          <p>Assédio inclui, mas não está limitado a:comentários verbais ofensivos relacionados a gênero, orientação sexual, deficiência, identidade de gênero, idade, raça, religião
              imagens sexuais em espaços públicos, intimidação deliberada, perseguição, assédio fotográfico ou em vídeo, erturbação constante nas palestras ou outros eventos, contato físico inapropriado, atenção sexual ou física não solicitada</p>
          <p>Participantes que forem pedidos para pararem com um comportamento indevido devem obedecer imediatamente.</p>
          <p>Se você está sendo sofrendo algum tipo de assédio, percebeu que alguém está ou tem qualquer outra intenção, por favor, contate imediatamente um organizador ou voluntário. Eles podem ser identificados por camisas ou crachás especiais em eventos ou através de marcações especiais nos meetups, no caso de eventos online. Os organizadores irão investigar o problema e tomar as ações devidas. Isso pode incluir ajudar os participantes a contatarem a segurança ou as autoridades locais, providenciar escoltas ou ajudar de alguma outra forma os que estiverem sofrendo assédio a se sentirem seguros durante o evento.</p>
          <p> Parceiros, expositores e palestrantes também estão sujeitos ao código de conduta. Em particular, estes não devem usar de imagens, atividades ou qualquer outro material de 
          cunho sexual ou criar um ambiente desse tipo em sua apresentação, equipe, material de exibição, itens promocionais ou de demonstração.</p>
          <p>Apesar de esperarmos que nunca precisemos invocar esse código de conduta, acreditamos que ter esse documento leva todos a uma reflexão sobre como suas ações e palavras afetam toda a comunidade, assim como indivíduos da comunidade.</p>
          <p><strong>Contato: contato@devfestbh.com ou gdgbhz@gmail.com</strong></p>
          <p>Esse guia da comunidade foi inspirado no <a target="_blank" href="https://support.google.com/developergroups/answer/3340512?hl=en&ref_topic=3340510">Anti-Harassment Policy</a> do Google para os GDGs. 
            Nós apoiamos também condutas como  <a target="_blank" href="https://meta.wikimedia.org/wiki/Don%27t_be_a_jerk">Não seja um idiota</a>.</p>
        </div>
    </div>
  </div>
</section>

