<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md bg-black-transp fixed-top navbar-dark">
        <img class="logo-topo" src="../../assets/img/logo_topo.png" alt="" width="350" height="auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">Menu</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#event">O evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#speakers">Palestrantes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#tickets">Ingressos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#partners">Patrocinadores</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0"> 
            <a href="http://gdgbh.eventos.pw/" target="_blank" class="btn btn-success" role="button" aria-pressed="true">Comprar meu ingresso</a>
        </form>
      </div>
    </nav>
  </header>