<div class="partners" id="partners">
  <div class="container mt-5">
      <h1>Patrocinadores</h1>
      <p class="subtitle">O DevFest BH é um evento sem fins lucrativos. Todo o patrocínio é revertido ao evento.</p>
      <p class="subtitle">Fica registrado o nosso MUITO OBRIGADO! <3 Quer patrocinar?, envie um e-mail para <strong>contato@devfestbh.com</strong></p>
      <h5 class="title">Patrocinador Master</h5>
      <div class="row">
        <div class="col-md-10">
          <img class="d-block mx-auto img-fluid" src="../../assets/img/partners/googledevelopers.svg" alt="logotipo do Google Developers"/>
        </div>
      </div>

      <h5 class="title">Patrocinador Prata</h5>
      <div class="row">
        <div class="col-md-4">
          <img class="d-block mx-auto img-fluid" src="../../assets/img/partners/tampa.svg" alt="logotipo da Tampa"/>
        </div>
      </div>

  
   
   <h5 class="title">Apoio</h5>
    <div class="row">
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/nubank.png" alt="Logotipo do Nubank"/></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/ixda.svg" alt="logotipo do ixda" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/casadocodigo.png" alt="Logotipo da Casa do código" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/jetbrains.svg" alt="Logotipo do jetbrains" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/rmi.png" alt="Logotipo da Rede mineira de inovação" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/help4papers.png" alt="logotipo do help for papers" /></div>
    </div>
      <div class="row">
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/alura.png" alt="logotipo da alura" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/shestech.png" alt="logotipo do She's tech" /></div>
      <div class="col-md-2 col-sm-4"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/califari.png" alt="logotipo da califari branding" /></div>
    </div>
  </div>
   
</div>
