<div class="partners" id="partners">
  <div class="container mt-5">
      <h1>Patrocinadores</h1>
      <p class="subtitle">O DevFest BH é um evento sem fins lucrativos. Todo o patrocínio é revertido ao evento.</p>
      <p class="subtitle">Fica registrado o nosso MUITO OBRIGADO! <3 Quer patrocinar o DevFest BH 2018? Envie um e-mail para <strong>contato@devfestbh.com</strong></p>
      <h5 class="title">Patrocinador Master</h5>
      <div class="row">
        <div class="col-md-10">
          <a href="https://developers.google.com/" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/googledevelopers.svg" alt="logotipo do Google Developers"/></a>
        </div>
      </div>

      <h5 class="title">Patrocinador Ouro</h5>
      <div class="row my-auto">
          <div class="col-md-3 my-auto">
              <a href="https://br.ciandt.com/" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/ciandt.png" alt="logotipo da CI&T"/></a>
            </div>
      </div>

      <h5 class="title">Patrocinadores Prata</h5>
      <div class="row my-auto">
          <div class="col-md-3 my-auto">
              <a href="https://www.maxmilhas.com.br/" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/maxmilhas.png" alt="logotipo da Maxmilhas"/></a>
            </div>
        <div class="col-md-3 my-auto">
          <img class="d-block mx-auto img-fluid" src="../../assets/img/partners/tampa.svg" alt="logotipo da Tampa"/>
        </div>
      </div>

      <h5 class="title">Patrocinadores Bronze</h5>
      <div class="row my-auto">
        <div class="col-md-3 my-auto">
          <a href="https://nata.house/" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/natahouse.svg" alt="logotipo da Nata House, patrocinadora Bronze"/></a>
        </div>
        <div class="col-md-3 my-auto">
            <a href="http://squadra.com.br" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/squadra.png" alt="logotipo da Squadra, patrocinadora Bronze"/></a>
          </div>  
        <div class="col-md-3 my-auto">
            <a href="http://thoughtworks.com" target="_blank"><img class="d-block mx-auto img-fluid" src="../../assets/img/partners/tw.png" alt="logotipo da Thougtworks, patrocinadora Bronze"/></a>
          </div>
    
      </div>

  
   
   <h5 class="title">Apoio</h5>
    <div class="row my-auto">
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://www.nubank.com.br/" target="_blank"><img class="img-fluid" src="../../assets/img/partners/nubank.png" alt="Logotipo do Nubank"/></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="bhz.ixda.org.br/" target="_blank"><img class="img-fluid" src="../../assets/img/partners/ixda.svg" alt="logotipo do ixda" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://www.casadocodigo.com.br/" target="_blank"><img class="img-fluid" src="../../assets/img/partners/casadocodigo.png" alt="Logotipo da Casa do código" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="www.rmi.org.br" target="_blank"><img class="img-fluid" src="../../assets/img/partners/rmi.png" alt="Logotipo da Rede mineira de inovação" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://www.jetbrains.com/" target="_blank"><img class="img-fluid" src="../../assets/img/partners/jetbrains.svg" alt="Logotipo do jetbrains" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="help4papers.com.br" target="_blank"><img class="img-fluid" src="../../assets/img/partners/help4papers.png" alt="logotipo do help for papers" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://www.alura.com.br" target="_blank"><img style="width: 100px; height: auto" class="img-fluid" src="../../assets/img/partners/alura.png" alt="logotipo da alura" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://shestech.org/" target="_blank"><img style="width: 100px; height: 100px;" class="img-fluid" src="../../assets/img/partners/shestech.png" alt="logotipo do She's tech" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="http://califari.com.br/" target="_blank"><img style="width: 100px; height: 100px;" class="dimg-fluid" src="../../assets/img/partners/califari.png" alt="logotipo da califari branding" /></a></div>
      <div class="my-auto col-md-2 col-sm-4 col-xs-4 mb-5"><a href="https://minasdev.org/" target="_blank"><img style="width: 100px; height: 100px;" class="mx-auto img-fluid" src="../../assets/img/partners/minasdev.png" alt="logotipo do Minas Dev" /></a></div>

  </div>
   
</div>
