<div class="event" id="event">
  <div class="container">
    <h1>Conheça o DevFest BH!</h1>
    <p>O DevFest BH é um evento organizado pelo GDG Belo Horizonte, oferecendo atividades relacionadas à tecnologia, inovação, empreendedorismo e muitos outros assuntos.</p>
    
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="../../assets/img/devfestbh.jpg" class="img-fluid" alt="fotografia com os participantes do DevFest bh 2017, aproximadamente 500 pessoas.">
      </div>
      <div class="col-md-6">
        <p>Serão </p>
        <p class="destaque">5 trilhas</p>
        <p class="destaque">+ de 25 palestras</p>
        <p class="destaque">Espaço com stands</p>
        <p class="destaque">Palco Lightning Talks</p>
        <p>e muito mais!!!</p>
      </div>
    </div>
  </div>
</div>